<div class="wrapper__nav">
	<div class="nav--dark">
		{% include 'mobile-nav' %}
		<div class="logo__container">
			<a href="/" class="logo"></a>
		</div>
		<div id="nav" class="">
			<div class="primary_nav">
			<ul>
			{% for link in linklists[settings.main_linklist].links %}
				<li class="top_link {% if link.active %}selected{% endif %} {% if has_drop_down %}hassublinks{% endif %}">

					{% if link.title == "Brands" %}
						<a href="#" id="brandslink" title="{{ link.title }}" class="{% if link.active %}active{% endif %}">{{ link.title }}</a>
						<div id="navbrandlist">
							{% include 'ourbrands' %}
							<div class="exit">X</div>
						</div>

					{% elsif  link.title == "Categories"%}
						<a href="#" id="categorylink" title="{{ link.title }}" class="{% if link.active %}active{% endif %}">{{ link.title }}</a>
						<div id="navcollectionlist">
							<div class="all">
								<a href="/collections/all" title="Browse All" class="shopall block">Shop All</a>
								<a href="/collections/the-vault" title="Sale" class="shopall block">The Vault</a>
							</div>
							<ul id="collections">
								{% for product_type in shop.types %}
								<li class="collectionlink">
										{{ product_type | link_to_type }}
									</li>{% endfor %}
							</ul>
							<div class="exit">X</div>
						</div>

					{% elsif  link.title == "New Arrivals"%}
						<a href="/collections/{{ link.handle }}?sort_by=created-descending" title="{{ link.title }}" class="{% if link.active %}active{% endif %}">{{ link.title }}</a>

					{% elsif link.title == "Gift Guide" %}
						<a href="#" id="giftguidelink" title="{{ link.title }}" class="{% if link.active %}active{% endif %}">{{ link.title }}</a>						<div id="giftguidelist">
							<div id="giftguidelist">
							<ul id="giftlist">
								{% for link in linklists.gift-guide.links %}
		 							<li id="giftguidelink">
										{{ link.title | link_to: link.url }}
									</li>
	 							{% endfor %}
					  	</ul>
							<div class="exit">X</div>
						</div>

					{% else %}
						<a href="{{link.url}}" title="{{ link.title }}" class="{% if link.active %}active{% endif %}">{{ link.title }}</a>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
			</div>
		</div>
		<div class="utility__nav">
			<a class="utility_cart" href="/cart">cart ({{ cart.item_count }})</a>
			<form class="search" action="/search">
				<input type="hidden" name="type" value="product" />
				<input type="submit" class="submit" value="»">
				<input type="text" name="q" class="search_box" placeholder="Search" value="{{ search.terms }}" />
			</form>
			{% include 'currency-picker' %}
		</div>
	</div>
</div>