

{% if settings.banner_1_toggle %}
		<div class="index-banner">
				<a href="{{ settings.banner_1_url }}"><img src="{{ settings.banner_1_img | img_url: '1440x' }}"></a>
		</div>
{% endif %}
{% if settings.banner_2_toggle %}
		<div class="index-banner">
				<a href="{{ settings.banner_2_url }}"><img src="{{ settings.banner_2_img | img_url: '1440x' }}"></a>
		</div>
{% endif %}
{% if settings.banner_3_toggle %}
		<div class="index-banner">
				<a href="{{ settings.banner_3_url }}"><img src="{{ settings.banner_3_img | img_url: '1440x' }}"></a>
		</div>
{% endif %}
{% if settings.banner_4_toggle %}
		<div class="index-banner">
				<a href="{{ settings.banner_4_url }}"><img src="{{ settings.banner_4_img | img_url: '1440x' }}"></a>
		</div>
{% endif %}
{% if settings.banner_5_toggle %}
		<div class="index-banner">
				<a href="{{ settings.banner_5_url }}"><img src="{{ settings.banner_5_img | img_url: '1440x' }}"></a>
		</div>
{% endif %}
{% if settings.banner_6_toggle %}
		<div class="index-banner">
				<a href="{{ settings.banner_6_url }}"><img src="{{ settings.banner_6_img | img_url: '1440x' }}"></a>
		</div>
{% endif %}
{% if settings.banner_7_toggle %}
		<div class="index-banner">
				<a href="{{ settings.banner_7_url }}"><img src="{{ settings.banner_7_img | img_url: '1440x' }}"></a>
		</div>
{% endif %}
