<ul id="brandlist">
<a href="/brands/all" title="Browse All" class="allbrands block">#</a>

{% assign current = "" %}
{% assign previous_letter = "" %}
{% for collection in collections %}
	{% unless collection.handle == 'frontpage' or collection.handle == 'new-arrivals' or collection.handle == 'sale' or collection.metafields.c_f.nav_brand_selector == 'hide'%}

		{% if collection.products_count > 0 %}
		{% assign first_letter = collection.title | strip_html | upcase | truncate: 1, '' %}
		 {% if first_letter != previous_letter %}
		    <li class="vendor-letter">{{ first_letter }}</li>
		    {% assign previous_letter = first_letter %}
		{% endif %}

		    <li class="brandlink">
		    	<p>{{collection.handel}}
		    	<a href="{{ collection.url }}" title="Browse {{ collection_title }}">{{ collection.title }}</a></p>
		    </li>

		{% endif %}{% cycle '', '', new_row %}
	{% endunless %}
{% endfor %}
</ul>