{% assign exclusive = false %}<li>
	<a href="{{ product.url | within: collection }}">
	{% for tag in product.tags%}
		{% if tag == "exclusive"%}
			{% assign exclusive = true %}
		{% endif %}
	{% endfor %}
		<div class="rollover">
			<div class="backgroundimageone" style="background-image:url({{ product.images[0] | product_img_url: 'large' }})">
				{% if product.images[1]%}
					<div  class="bk2" style="background-image:url({{ product.images[1] | product_img_url: 'large' }})"></div>
				{% endif %}
			</div>
			{% if product.compare_at_price_max > product.price %}
				<div class="sale">Sale</div>
			{% endif %}

			{% if exclusive == true %}
				<div class="exclusive">L&amp;F</div>
			{% endif %}
			<div class="slideupsize">
				<div>
					<ul>
						{% for variant in product.variants %}
							{% if variant.available == true %}
								<li >
									{{variant.title}}
								</li>
							{% else %}
								<li class="strike">
									{{variant.title}}
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<a href="{{ product.url | within: collection }}">

			<span class="dashafter"></span>
			<span class="dashafter"><h2 class="title">{{ product.title }}</h2></span>

			{% if product.compare_at_price_max > product.price %}
				<span class="strike">{{ product.compare_at_price_max | money }}</span>
			{% endif %}
			{% if product.available %}
				{% if product.price_varies %}
					<small><em>from</em></small>
				{% endif %}
				<span {% if product.compare_at_price_max > product.price %}class="red" {% endif %}>
				{{ product.price | money_with_currency }}
				</span>
			{% else %}
				<span {% if product.compare_at_price_max > product.price %}class="lightgrey" {% endif %}>{{ product.price_min | money }}</span> - Sold Out
			{% endif %}
		</a>
	</a>

</li>
