{% assign page = pages.frontpage %}
{% include 'pop-up' %}


<!-- {{ page.content }} -->

{% include 'index-hero' %}

<h4>Recent Articles</h4>

	<ul id="recent-articles">
		{% for article in blogs['blog'].articles limit:4 %}<li>
			<div id="atrilcetitle">
				<div>
					<a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
				</div>
			</div>
			<div class="articlecontent-inline">
				<!-- Add feature image -->

  	 	{%comment%}	<img href=" {{ article | img_url: 'large' }} "> {%endcomment%}

				{{ article.excerpt }}
			</div>
			<div>
				<a href="{{ article.url }}" title="{{ article.title | escape }}" > read more &#187;</a>
			</div>
		</li>{% endfor %}
	</ul>


<!-- <h4 id="brandlisttitle">Our Brands</h4> -->

<!-- {% include 'ourbrands' %} -->
