{% assign nocart = false %}
{% assign sizesoldout = false %}

{% for tag in product.tags%}
	{% if tag == "nocart"%}
		{% assign nocart = true %}
	{% endif %}
{% endfor %}

{% capture bohdansizing %}{{product.vendor|handleize}}-{{product.type|handleize}}{% endcapture %}
{% capture shipping %}shipping-policy-canada{% endcapture %}
{% capture shippingNA %}north-america{% endcapture %}


{% if pages[bohdansizing].content != "" %}
<div class="sizing">
	<div>
		{% if product.type == "Denim" or product.type == "Pants" or product.type == "Pants & Denim" %}
			<img src="{{ 'pants-icon.jpg' | asset_url }}">
		{% elsif product.type == "Shirts" %}
			<img src="{{ 'shirt-icon.jpg' | asset_url }}">
		{% elsif product.type == "T-Shirts" %}
			<img src="{{ 't-shirt-icon.jpg' | asset_url }}">
		{% elsif product.type == "Shorts & Swim" or product.type == "Shorts" %}
			<img src="{{ 'shorts-icon.jpg' | asset_url }}">
		{% elsif product.type == "Sweatshirts" or product.type == "Sweaters" %}
			<img src="{{ 'sweatshirt-icon.jpg' | asset_url }}">
		{% elsif product.type == "Outerwear" or product.type == "Jackets" %}
			<img src="{{ 'jacket-icon.jpg' | asset_url }}">
		{% endif %}

		{{ pages[bohdansizing].content }}

		<div class="mini"><a href="#">X</a></div>
	</div>
</div>
{% endif %}

<div class="mx-width-breadcrumbs">
	<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">Home</span></a></span>
	&#62;
	<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
		{% if collection %}
			<a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
		{% else %}
			<a href="/collections/all" title="All Products">Products</a>
		{% endif %}
	</span>
	&#62;
	{{ product.title }}
</div>

<div id="productwrapper">
	<div class="images">
		{% if product.images.size > 1 %}
		<div class="rightcolumn">
		{% endif %}
			<div id="imagezoomed">
				<img src="{{ product.featured_image | product_img_url: 'master' }}" alt="product.featured_image.alt">
			</div>
		{% if product.images.size > 1 %}</div>{% endif %}<div class="mobileimage">
			{% for image in product.images %}
				<a href="{{ image.src | product_img_url: 'master' }}"><img src="{{ image.src | product_img_url: 'large' }}" alt="image.alt"></a>
			{% endfor %}</div>
		<div class="leftcolumn">

			{% for image in product.images %}
				<a href="{{ image.src | product_img_url: 'master' }}"><img src="{{ image.src | product_img_url: 'large' }}" alt="image.alt"></a>
			{% endfor %}

		</div>


	</div>
	<div class="info">
		<h2 class="dashafter title">
			{{ product.title }}
		</h2>
		<!-- {{product.vendor}}-{{product.type}} -->
		<!-- {{ 'dropdown-arrow.png' | asset_url }} -->


		<div class="spaceafter price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
			<meta itemprop="currency" content="{{ shop.currency }}" />
			<meta itemprop="seller" content="{{ shop.name | escape }}" />
			<meta itemprop="availability" content="{% if product.available %}in_stock{% else %}out_of_stock{% endif %}" />
			<span class="strike">{% if product.price < product.compare_at_price_max %}{{ product.compare_at_price | money }}{% endif %}</span>

			<span itemprop="price" content="{{ product.price | money_without_currency }}" class="{% if product.price < product.compare_at_price_max %}red{% endif %}">
				{{ product.price | money_with_currency }} {% if product.available == false %} {% if nocart == false %}- <span class="red">Sold Out</span> {% endif %}{% endif %}
			</span>
			{% if product.available == true %}<!-- CAD -->{% endif %}
		</div>


		{% if product.available == true %}


		<form action="/cart/add" class="spaceafter" method="post" enctype="multipart/form-data" id="sizeselector">
			<label>Size</label>

			{% if pages[bohdansizing].content != "" %}
				 <a href="#" class="sizeingchart">Size Chart</a>
			{% endif %}

			<div id="sizesmenue">
				<ul>
					{% for variant in product.variants %}
						{% if variant.available == true %}
							<li {% if forloop.first %}class="selected"{% endif %}><a href="{{ variant.id }}">{{ variant.title }} {% if variant.inventory_quantity == 1 %}<span> {{ variant.inventory_quantity }} LEFT </span>{% endif %} </a></li>
						{% else %}
							<li {% if forloop.first %}class="selected strike red"{% else %} class="strike red" {% endif %}><a href="{{ variant.id }}">{{ variant.title }} <span> SOLD OUT</span> </a></li>
						{% endif %}
					{% endfor %}
				</ul>
				<div id="dobulearrow">&#187;</div>
			</div>
			<div id="selector">
				<select name="id">
					{% for variant in product.variants %}
						{% if variant.available == true %}
							<option value="{{variant.id}}"> {{ variant.title }}</option>
						{% else %}
							<option value="{{variant.id}}"> {{ variant.title }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			{% for variant in product.selected_or_first_available_variant %}
				{% if  variant.inventory_quantity == 0 %}
					<p>show this text if unavail</p>
				{% endif %}
			{% endfor %}

			{% if nocart == true %}
				<div class="nocart">
					Phone or email Order Only - Please contact info@shoplostfound.com / 647.348.2810
				</div>
			{% else %}
				<input type="submit" name="add" id="add" value="Add to Cart" class="button">
			{% endif %}

			{% if sizesoldout == true %}
				<div class="sm-txt">NOTIFY ME WHEN ITEM IS RESTOCKED</div>
				<input type="text" name="email" id="email" value="Email Address" class="button email">
				<input type="submit" name="add" id="add" value="Submit" class="button">
			{% endif %}



		</form>
		{% endif %}

		<div class="tabs">
		<!-- our tab div, which has everything inside it starts here -->
		<!-- <ul class="tab-links"> -->
			<ul class="tab-links">
				{% if product.description != "" or product.metafields.c_f.overview-detail1 %}
				<!-- each one of these li's are our titles -->
			<li class="active links"><a href="#details">Details</a></li>
				{% endif %}
				<li class="links"><a href="#sizing">Sizing</a></li>
				<li class="links"><a href="#shipping">Shipping</a></li>
			</ul>
		</div>
		<!-- end of phyiscal tab titles.  -->

			<div class="tab-content">
				{% if product.description != ""  or product.metafields.c_f.overview-detail1 %}
				<!-- <div id="details" class="tab"> -->
			        <p id="details" class="tab">
			            {% include 'product-details' %}
			        </p>
			    <!-- </div> -->
		 		{% endif %}
		 		<!-- NOTE TO SELF: pull ifstatement outside of div before publishing theme -->
		        <div id="sizing" class="tab tab-sizing">
		        	<p>Sizing</p>
							{% if product.details contains <table %}
						    {% assign sizechart = product.details %}

							{% endif %}

							{{ product.description | json }}
							<!--
						{{ size-chart-string }}
		            {% if product.metafields.c_f.sizes %}
		            	<p>
		            		{{ product.metafields.c_f.sizes }}
		            	</p>
		            {% endif %}
							-->ro
		        </div>

		        <div id="shipping" class="tab tab-sizing">
		            <p>Shipping + Returns</p>

		            {% if product.price > 60000%}
						<p class="freeshipping">
							{{ pages["shipping-policy-north-america"].content }}
						</p>
					{% elsif product.price > 30000%}
						<p class="freeshipping">
							{{ pages["shipping-policy-canada"].content }}
						</p>
					{% else %}
						<p class="freeshipping">
							{{ pages["shipping-policy-basic"].content }}
						</p>
					{% endif %}
		        </div>
	   		 </div>
	   	</div>
	</div>
<!-- </div> extra div-->

{% assign limit = 3 %}
{% assign skip_product = product %}
{% assign products = collection.products %}
{% if products %}

<h4 class="">Related Items</h4>
{% include 'product-loop' %}

{% endif %}




<h4 id="brandlisttitle">Our Brands</h4>

{% include 'ourbrands' %}
